# **Google Play Store Apps**

### ***Columns Details*** 

> - **App**   
    - BASICALLY, This Column Includes Names Of the App 
> - **CATEGORY** \
    - THIS COLUMN INCLUDES THE CATEGORIES OF THE APP LIKE GAME, SOCIAL MED
> - **RATING** \
    - This Column Indiucates The Ratings Of Apps
> - **REVIEWS** 
    -

#  --^^Lets Start EDA^^--

***Number of variables = 13***\
***No.Of Obsevations = 10841***\
***Missing Cels = 1487***\
***Duplicated Rows = 410***\
***Categorical data = 7*** ( But Not Sured )\
***Numerical Data = 1*** ( But Not Sured )

In [11]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ydata_profiling as yd

In [12]:
df = pd.read_csv('../../data_sets/googleplaystore.csv')

In [13]:
# run automatic eda using yadata profiling on df dataframe
profile = yd.ProfileReport(df)
# display the profile report in html format
profile.to_file('../../data_sets/googleplaystore.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
df.describe()

            Rating       Reviews  Unnamed: 13
count  9367.000000  1.084100e+04          0.0
mean      4.191513  4.441119e+05          NaN
std       0.515735  2.927629e+06          NaN
min       1.000000  0.000000e+00          NaN
25%       4.000000  3.800000e+01          NaN
50%       4.300000  2.094000e+03          NaN
75%       4.500000  5.476800e+04          NaN
max       5.000000  7.815831e+07          NaN

In [15]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
3860,Subway Terminator: Smarter Subway,MAPS_AND_NAVIGATION,4.3,70556,26M,"10,000,000+",Free,0,Everyone,Maps & Navigation,"July 17, 2018",4.76,4.0 and up,NaN
2370,Official NBSTSA CST Exam Prep,MEDICAL,4.4,2159,11M,"10,000+",Free,0,Everyone,Medical,"May 17, 2018",4.5.1,4.4 and up,NaN
5424,SofaScore Live Score,SPORTS,4.8,221722,Varies with device,"10,000,000+",Free,0,Everyone,Sports,"July 26, 2018",Varies with device,Varies with device,NaN
8083,CY Security Antivirus Cleaner,PRODUCTIVITY,4.5,75140,Varies with device,"1,000,000+",Free,0,Everyone,Productivity,"January 2, 2018",Varies with device,Varies with device,NaN
8069,CX-41,LIFESTYLE,NaN,1,32M,100+,Free,0,Everyone,Lifestyle,"December 14, 2017",3.0,4.1 and up,NaN
8301,Easy Language Translator,TOOLS,4.3,191621,6.1M,"10,000,000+",Free,0,Everyone,Tools,"May 29, 2018",1.43,4.0 and up,NaN
5823,Axe Clicker,FAMILY,4.3,10446,64M,"500,000+",Free,0,Everyone,Casual,"July 13, 2018",1.0.142,4.0.3 and up,NaN
5707,HD Video Player - Video & MP3 Player | AV Play...,VIDEO_PLAYERS,4.4,22,19M,"5,000+",Free,0,Everyone,Video Players & Editors,"March 6, 2018",1.0.1,4.0 and up,NaN
2937,BeautyPlus - Easy Photo Editor & Selfie Camera,PHOTOGRAPHY,4.4,3158151,53M,"100,000,000+",Free,0,Everyone,Photography,"July 31, 2018",6.9.031,4.1 and up,NaN
8512,Advanced Download Manager,TOOLS,4.5,569727,Varies with device,"10,000,000+",Free,0,Everyone,Tools,"November 3, 2017",Varies with device,Varies with device,NaN

# Write Down All The Numeric variables and Make them numeric

1.Size\
2.Price\
3.Installs

## Lets Convert ***Size*** Into Numeric Column

In [16]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

In [17]:
def convert_size(size):
    if isinstance(size, float):
        return size
    # size = size.replace(',', '')  # remove comma
    # size = size.replace('+', '')  # remove plus sign
    if size.endswith('M'):
        return float(size[:-1]) * 1024
    elif size.endswith('k'):
        return float(size[:-1])
    elif size == 'Varies with device':
        return np.nan
    else:
        return float(size)

df['Size'] = df['Size'].apply(convert_size)

In [18]:
df.sample(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
5113,Ag-Pro Companies,BUSINESS,NaN,0,46080.0,50+,Free,0,Everyone,Business,"March 6, 2018",2.3.0,4.4 and up,NaN
2283,Lab Values + Medical Reference,MEDICAL,4.5,133,2867.2,"10,000+",Paid,$2.99,Everyone,Medical,"August 2, 2014",3.0,2.3 and up,NaN

## ***Install***

In [19]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

In [20]:
def convert_to_numeric(installs):
    if installs == 'Free':
        return 0
    elif installs.endswith('+'):
        installs = installs[:-1]
    installs = installs.replace(',', '')
    return float(installs)

df['Installs'] = df['Installs'].apply(convert_to_numeric)

In [21]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19456.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14336.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,NaN

In [22]:
df.describe().head(2)

            Rating        Reviews          Size      Installs  Unnamed: 13
count  9367.000000   10841.000000   9146.000000  1.084100e+04          0.0
mean      4.191513  444111.928051  22030.480308  1.546291e+07          NaN

In [23]:
# Lets Do Binnig Of Column Installs to Installs_Group
bins = [0, 10000, 100000, 1000000, 10000000, 100000000, 1000000000]
labels = ['0-10k', '10k-100k', '100k-1M', '1M-10M', '10M-100M', '100M-1B']

#df['Installs'] = df['Installs'].apply(lambda x: x.mid)  # Extract midpoint value from intervals

df['Install_group'] = pd.cut(df['Installs'], bins=bins, labels=labels)
df['Install_group'].value_counts()

Install_group
0-10k       4228
100k-1M     2118
1M-10M      2004
10k-100k    1648
10M-100M     698
100M-1B      130
Name: count, dtype: int64

In [24]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13,Install_group
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19456.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,0-10k
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14336.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,NaN,100k-1M

## PRICE

In [25]:
df['Price'].value_counts()

Price
0         10041
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

## Remove USD Sign From Price Columns Using Pandas And Convert it into Numeric

In [40]:
## Remove $ Sign From All Rows inside  price Columns Using Pandas 
df['Price'] = df['Price'].str.replace('$', '')
# Now convert into numeric
df['Price'] = df['Price'].astype(float)

AttributeError: Can only use .str accessor with string values!

In [41]:
df['Price'].value_counts()

Price
0.00     10041
0.99       148
2.99       129
1.99        73
4.99        72
         ...
19.90        1
1.75         1
14.00        1
4.85         1
1.04         1
Name: count, Length: 92, dtype: int64

In [42]:
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13,Install_group
9026,PORTABLE SOCCER DX,SPORTS,4.4,552,1638.4,5000.0,Paid,1.0,Everyone,Sports,"June 19, 2018",3.4,2.2 and up,NaN,0-10k
3210,Hotels.com: Book Hotel Rooms & Find Vacation D...,TRAVEL_AND_LOCAL,4.5,260133,NaN,10000000.0,Free,0.0,Everyone,Travel & Local,"July 4, 2018",Varies with device,Varies with device,NaN,1M-10M
8347,Periscope - Live Video,SOCIAL,4.0,479939,15360.0,10000000.0,Free,0.0,Mature 17+,Social,"July 9, 2018",1.23.3.0,4.4 and up,NaN,1M-10M
9260,FILL EC,BUSINESS,4.1,13,3891.2,100.0,Free,0.0,Everyone,Business,"April 23, 2018",1.0,4.0.3 and up,NaN,0-10k
5449,AP ENPS Mobile,PRODUCTIVITY,4.1,22,545.0,5000.0,Free,0.0,Everyone,Productivity,"March 8, 2016",8.0.0130,4.4 and up,NaN,0-10k

In [43]:
df.describe()

,Rating,Reviews,Size,Installs,Price,Unnamed: 13
count,9367.000000,1.084100e+04,9146.000000,1.084100e+04,10841.000000,0.0
mean,4.191513,4.441119e+05,22030.480308,1.546291e+07,1.027273,NaN
std,0.515735,2.927629e+06,23130.807322,8.502557e+07,15.948971,NaN
min,1.000000,0.000000e+00,8.500000,0.000000e+00,0.000000,NaN
25%,4.000000,3.800000e+01,5017.600000,1.000000e+03,0.000000,NaN
50%,4.300000,2.094000e+03,13312.000000,1.000000e+05,0.000000,NaN
75%,4.500000,5.476800e+04,30720.000000,5.000000e+06,0.000000,NaN
max,5.000000,7.815831e+07,102400.000000,1.000000e+09,400.000000,NaN